html {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;	
	color: #ffffff;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	margin-left:0px;
	margin-right:0px;
	width: 100%;
	height: 100%;
	padding:0px;
	background-image:    url(Background.jpg);
	background-color: black;
	background-attachment:fixed;
	background-size:     cover;
	background-repeat:   no-repeat;
	background-position: center center; 
}

/* GALLERY START */
/* START OF UNUSED CODE (OLD) */
p.GalleryImage1{width: 100%;height: 459px;margin-top:100px;margin-bottom:50px;
background-image : url(PolaroidFilms1.png);
background-repeat : no-repeat;
background-position : center;
}
/* END OF UNUSED CODE (OLD) */
p.GalleryEndSpace{width: 100%;height: 459px;margin-top:10px;margin-bottom:10px;}
/* GALLERY END */



div.DivContainer  {
} 


div.DivGallery  {
} 


/* ZOOM FUNCTION START */

.click-zoom input[type=checkbox] {
	display: none;
}

.click-zoom img {
	transform: scale(0.5);
	margin: -80px;
	transition: transform 0.2s ease;
	cursor: zoom-in;
	position: relative; /* Position must be relative for z-index to work, no negative values. */
	z-index : 1;
}

.click-zoom input[type=checkbox]:checked~img {
	transform: scale(1);
	cursor: zoom-out;
	position: relative; /* Position must be relative for z-index to work, no negative values. */
	z-index : 3;
}

/* ZOOM FUNCTION END */

#PageHeader  {
	background-image : url(JEVH.png);
	background-repeat : no-repeat;
	background-position : center;
	height : 111;
	width : 100%;
	margin-top: 250px;
	padding-left: 80px;
	z-index : 0;
} 

#extraDiv1  {
	background-image : url(bottom.png);
	background-repeat : no-repeat;
	background-position : center;
	height : 164px;
	width : 100%;
	position : fixed;
	bottom : 0;
	z-index : 2;
} 